:root{
    --primarybackground: linear-gradient(135deg, #00c6ff 0%, #0072ff 50%, #e0f7fa 100%);
    --mobilbackground: linear-gradient(135deg, #89f7fe 0%, #66a6ff 50%, #fff176 100%);
    --tabletbacground: linear-gradient(135deg, #43e97b 0%, #38f9d7 50%, #6a11cb 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background: var(--primarybackground);
    min-height: 100vh;
    padding: 50px 20px; 
}

/* Header */
h1 {
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: 2rem;
    margin-bottom: 40px;
}

.container{
    display: flex;
    gap:5rem;
    justify-content: center;
    flex-wrap: wrap;
   
}

.card{
    background: #ffffff;
    border: 3px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    flex: 1 1 calc(35%-20px);
    text-align: center;
    max-width: 300px;

}

.card:hover {
    transform: translateY(-10px) scale(1,1);
    outline: 2px solid rgb(0, 110, 255);
    cursor: pointer;
    box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}

.image {
    width: 100%;
    border-radius: 15px;
    height: 300px;
    padding: 5px;
    display: block;
    
}

h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
    
}

p{
    
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

/* Button */
button {
    background-color: #0060a4;
    color: #ffffff;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(0, 110, 255, 0.4);
    
}
button:focus {
    outline: 2px solid #333;
}

@media (min-width:768px) and  (max-width:1024px) {

  .card{  
    flex: 1 1 calc(50%-20px);
  }
   body{
    background: var(--tabletbacground);
  }
  h1{
    color: #00b31e;
  }

  button{
    background-color: #43e97b;
    color: #333;
  }

  .card:hover {
    
    outline: 2px solid #43e97b;
}

   
}

@media(max-width:767px) {

  .card{  
    flex: 1 1 100%;
  }
  body{
    background: var(--mobilbackground);
  }

  h1{
    color: #0060a4;
  }

  .card:hover {
    
    outline: 2px solid #fff176;
}

 button{
    background-color: #fff176;
    color: #333;
  }

   
}