/* GENEL AYARLAR*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

/* BODY*/

body {
  min-height: 100vh;
  justify-content: center;
  background: linear-gradient(to bottom right, #677feb, #764ca2);
  display: flex;
  padding: 20px;
  
}   

/* MAIN*/

.box{
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* NAVBAR*/

.header{
    margin: 30px 30px;
    border-bottom: 1px solid #cdcdcd;
    position: sticky;
    top: 0;
}

.baslik{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.bolum{
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;

}

.linkler{
    text-align: center;
    font-size: 1rem;
    margin: 10px 0px;
}

.linkler ul li{
    display: inline-block;
    border: 2px solid #3598db;
    border-radius: 20px;
    padding: 9px;
    margin: 8px;
    color:#3598db ;
}

.linkler ul li a{
    text-decoration: none  

}

.linkler ul li:hover{
    background-color: #daeffd;

}


.divider {
    display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #ccc;
  margin: -3px 10px;
}




/* HAKKIMDA*/

.altBaslik{
    border-left: 3px solid #ff0000;
    margin: 60px 0px 5px 20px;
    
}

.altBaslikAciklama{
    margin: 20px;
    background-color: #f4f4f475;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    color: rgb(93, 93, 93);
    
}


h2{
    margin-left: 15px;
    font-size: 18 px;
    letter-spacing: 1px;
}
/* YETENEKLER*/

.yetenekler{
    margin: 10px 0px 10px 15px;
}


.yetenekler li{
    display: inline-block;
    margin: 5px 7px; 
    background-color: #3295d6;
    color: #ffffff;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* EĞİTİM*/

table {

  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border: 1px solid rgb(209, 209, 209);
  

}

th{
        background-color: #33475f;
        color: white;
        width: auto;
        height: 3vw;
        border: 1px solid rgb(209, 209, 209);
    }

td{
        background-color: white;
        height: 3vw;
        border: 1px solid rgb(209, 209, 209);
        padding: 10px;
        width: auto;
    }


/* İLETİŞİM*/
.formBackground{
    margin: 20px;
    background-color: #f4f3f3;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;

}

input, textarea, button{
    display: block;
}

input{
margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(193, 193, 193);
}

textarea{

    margin-top: 20px;
    width: 100%;
    height: 150px;
    padding: 10px;  
    border-radius: 10px;

}

button{
    display: block;
    background-color:#cf2f2f ;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
  border-color: #cf2f2f;
}

/* TOP BUTTON*/


.topbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3295d6;
  color: white;
  text-align: center;
  padding: 14px 0;
  font-size: 14px;
  text-decoration: none;
}

.topbutton:hover{
    background-color: #162026;
    color: #daeffd;
    transition: 400ms;

}






